<div class="col-12" style="background: linear-gradient(270deg,#67AECA, #675682 )";
">
    <div class="row p-2">
        <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center" style="color: #a32554;">
            <h1 class="m-3 font-weight-bold">Varejo Forte</h1>
            <p style="font-size: small; font-weight: bold;">Copyright © 2021 varejoforte.com LTDA.</p>
        </div>
        <div class="col-lg-2">
            <div class="row p-3 d-flex flex-column">
                <div class="mb-3 font-weight-bold" style="color:#a32554;">MENU</div>
                <div ><a href="/" style="color:#5a3e87;">Home</a></div>
                <div><a href="/mycart" style="color:#5a3e87;">Carrinho</a></div>
                <div><a href="/about" style="color:#5a3e87;">Quem somos?</a></div>

            </div>
        </div>
        <div class="col-lg-3 mt-3">
            <p class="font-weight-bold" style="color:#a32554;" >ENDEREÇO</p>
            <p  style="color:#5a3e87;"> Rodovia PR 323, KM 310 - Parque Industrial, PR, 87507-014</p>
        </div>
        <div class="col-lg-3  mt-3">
            <p class="font-weight-bold" style="color:#a32554;">E-MAIL</p>
            <p  style="color:#5a3e87;"> contato@varejoforte.com</p>
        </div>
    </div>
</div>
 
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>
</body>

</html>