
<nav class="navbar navbar-expand-md navbar-dark bg-white" style="background: linear-gradient(270deg,#67AECA, #675682 )">
    <a class="navbar-brand" href="/"><img src="/img/logoVarejoForte.png" width="80" height="60" alt=""></a>
    <button class="navbar-toggler collapsed " type="button" data-toggle="collapse" data-target="#navbarNormal" aria-controls="navbarNormal" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="d-flex w-100 my-2" action="/" method="GET" id="search-form">
      <input class="form-control form-control-dark" type="text" placeholder="O que você procura?" aria-label="Pesquisar "  id="search-bar" name="search">
      <button class="btn btn-outline-primary" style="background-color: #E52A6F;" type="submit"><img src="/img/iconlupa.png" width="15" height="15" alt=""></button>
  </form>
    <div class="navbar-collapse collapse ml-2" id="navbarNormal">
        <a class="p-2 m-4 d-flex estiloLink" href="/mycart"><span class="mr-2 text-white" >Carrinho</span><i class="fas fa-shopping-cart "  style="color: #fff;" ></i></a>
        <a class="p-2 d-flex btn btn-primary"  style="background: #E52A6F;" href="/user/login"><span class="mr-2 text-white">Cadastrar|Entrar</span><i class="fas fa-user"></i></a>
    </div>
</nav>