<%- include('partials/header.ejs');%> <%- include(navbar);%>

<div class="container">
<div class="row w-100 ">
  <div class="col-2 bg-teal d-sm-flex">
    <div class="btn-group ml-auto p-2">
      <a href="/" class="btn btn-teal btn-lg active" role="button" aria-pressed="true">Produtos</a>
      <a href="/page" class="btn btn-teal btn-lg active" role="button" aria-pressed="true">Sobre</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Sobre Nós</h2>
        <p class="card-text font-italic">
          Varejo forte é um projeto que nasceu da apresentação de uma proposta
          de dois alunos do Instituto Federal do Paraná, e depois ganhou mais
          quatro sócios (também alunos da instituição), tem o intuito de
          fomentar o market place entre as cidades do interior do Paraná,
          princpalmente na região de Umuarama, lugar onde nasceu o projeto.
        </p>
        <a href="#" class="btn btn-primary" style="background: #e52a6f"
          >Entre em contato!</a
        >
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <img src="/img/sobre.png" alt="" />
      </div>
    </div>
  </div>
</div>
<div class="card text-center">
  <div class="card-header">
    <h1>Saiba quem já vende com a gente</h1>
  </div>
  <div class="card-body">
    <h5 class="card-title">.....</h5>
    <img src="/img/DeusiFitness.png" class="rounded float-left" alt="...">
    <img src="/img/BlackRigor.png" class="rounded float-center" alt="...">
    <img src="/img/Sapatos.png" class="rounded float-right" alt="...">
  </div>

  <div class="card-footer text-muted">Varejo Forte!</div>
</div>
</div>
<%- include('partials/footer.ejs');%>
